<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Галерея</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
   <header>
    <div id='logo' onclick="slowScroll('#top')">
        <span style="color: #fff; text-decoration: underline;text-decoration-color: #273600; ">ComHome</span>
    </div>
    <div id="about">
        <a href="/" style="padding-left: 750px;text-decoration: underline;text-decoration-color: #273600;">На головну</a>
        <a href="{% url 'create' %}" style="text-decoration: underline;text-decoration-color: #273600;">Анкета</a>
    </div>
   </header>
   <div id="overview" style="height:5000px;">
       <h1 style="margin-left: -900px;color:#1bff00">Ландшафтний дизайн</h1>
       <div id="im5" class="imm" style="padding-left: 50px;margin-left:-270px;">
                  <div id="im6" class="imm" style="margin-left:400px;margin: 300px;">
                             <div id="im7" class="imm" style="margin-left:400px;margin-top: 300px;">
                                 <div id="im8" class="imm" style="margin-left:250px;margin-top: 350px;"><h1 style="margin-top:400px;color:#1bff00;">+380960675483</h1>
                                            <h1 style="margin-top:-200px;margin-left:-2200px; color:#fbff00">Облаштування інтер'єру</h1>
                                                   <div id="im9" class="imm" style="margin-left:-1050px;padding-left: 50px;">
                                                              <div id="im10" class="imm" style="margin-left:400px;margin-top: 300px;">
                                                                         <div id="im11" class="imm" style="margin-left:400px;margin-top: 300px;">
                                                                                    <div id="im12" class="imm" style="margin-top: 300px;"><h1 style="margin-top:400px; color:#fbff00;">+380960675483</h1>
                                                                                        <h1 style="margin-top:-200px; margin-left:-2200px">Охоронна система</h1>
                                                                                               <div id="im13" class="imm" style="margin-left:-1050px;padding-left: 50px;">
                                                                                                          <div id="im14" class="imm" style="margin-left:400px;margin-top: 300px;">
                                                                                                                     <div id="im15" class="imm" style="margin-left:400px;margin-top: 300px;">
                                                                                                                         <div id="im16" class="imm" style="margin-left:220px;margin-top: 300px;"><h1 style="margin-top:400px;">+380960675483</h1>
                                                                                                                             <h1 style="margin-top:-200px; margin-left:-2200px; color:#00ffb8">Клінінг</h1>
                                                                                                                                    <div id="im17" class="imm" style="margin-left:-1050px;padding-left: 50px;">
                                                                                                                                            <div id="im18" class="imm" style="margin-left:400px;margin-top: 300px;">
                                                                                                                                                <div id="im19" class="imm" style="margin-left:400px;margin-top: 300px;">
                                                                                                                                                        <div id="im20" class="imm" style="margin-left:220px;margin-top: 300px;"><h1 style="margin-top:400px; color:#00ffb8">+380960675483</h1>


       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>
       </div>

   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <script>
    function slowScroll(id){
        $('html, body').animate({
            scrollTop:$(id).offset().top
        }, 500);
    }
    $(document).on("scroll",function (){
        if($(window).scrollTop() === 0)
            $("header").removeClass("fixed");
        else
            $("header").attr("class","fixed");
        });
   </script>
 </body>
</html>